html {
    font-family: 'Roberto'sans-serif;
}

body{
    background-color: rgb(248, 248, 248);
}

@media(min-length: 576px) {
    body {
        font-size: 14px;
    }
} 

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0.3em;
    text-align: center;
}

main > .intro {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main > .tagline {
    margin: 1.5rem 0;
    font-size: 1.5em;
    font-weight: 100;
}

.icons-social i {
    font-size: 2.5em;
    padding: 20px;
}
.icons-social a {
    text-decoration: none;
    font-size: 2rem;
}

.devto {
    margin-bottom: -0.20rem;

}

.devto svg{
    margin-bottom: -0.20rem;
    margin-left: 0.675rem;
    width: 2.65rem;
    height: 2.65rem;
}

.sr-only {
    color: rgb(255, 255, 255);
}