#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 19px;
  }
  
  #navbar header {
    margin-bottom: 20px;
  }
  
  #navbar .nav-link {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  #main-doc {
    margin-left: 220px; 
  }
  
  .main-section {
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 15px;
    text-align: justify;
  }
  
  @media screen and (max-width: 768px) {
    #navbar {
      width: 100%;
      height: auto;
      padding: 10px;
      position: static;
    }
  
    #main-doc {
      margin-left: 0;
    }
  }
  